<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
</head>

<body>
    <h3>Current Pages</h3>
    {{range $filename := .Filenames}}
    <a href="/view/{{$filename}}">{{$filename}}</a><br>
    {{end}}

    <br>
    <br>
    <h3>Make New Page</h3>
    <form action="/edit" method="GET">
        <div>
            <input type="text" required pattern="[a-zA-Z0-9_\-]+" placeholder="new_page" name="title">
            <br>
            <small>alphanumeric, no whitespace, _ and - allowed</small>
        </div>
        <br>
        <div>
            <input type="submit" value="Save">
        </div>
    </form>
</body>

</html>